<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>michellemccarthyhotmail.onmicrosoft.com</ADDomain>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://newmoviestore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>newmoviestore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>newmoviestore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$newmoviestore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADAppIDUri>https://michellemccarthyhotmail.onmicrosoft.com/WebApp-newmoviestore.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>58d53296-7496-41b0-ab74-243141388a0a</ADClientAPPID>
    <ADClientPassword>2t5VuGup2glzvTb0Lr2m5OQCIpN0SLsHA9v18qDZ+OQ=</ADClientPassword>
    <ADReplyUrl>https://newmoviestore.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>7b756e0c-eabf-4dba-a062-7bc7689af7d0</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
</Project>