@{
    ViewBag.Title = "Customer Detail";
    Layout = "~/Views/Shared/_ngLayout.cshtml";
}

<h2>Customer Detail</h2>
<div ng-controller="CustomerController">
    <div>Id: {{customer.Id}}</div>
    <div>Name: {{customer.Name}}</div>
    <div>Registered At: {{customer.RegisteredAt}}</div>
    <div>Address: {{customer.Address}}</div>
    <div>City: {{customer.City}}</div>
    <div>State: {{customer.State}}</div>
    <div>Postal Code: {{customer.PostalCode}}</div>
    <div>Phone: {{customer.Phone}}</div>
    <div>Account Credit: {{customer.AccountCredit}}</div>
</div>
@section scripts
{
    <script>
    var app = angular.module("movieStore");
    app.controller("CustomerController", function($scope, $http) {

        var onComplete = function(response) {
            $scope.customer = response.data;
        };

        $http.get("/api/customers/@ViewBag.id")
            .then(onComplete);

    });
    </script>
}


