<div class="jumbotron">
    <h1>Welcome to the Video Store </h1>
    <p class="lead">Where would you like to go today?</p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Movies</h2>
        <p><a class="btn btn-default" href="/movie/movies">Movies</a></p>
    </div>
    <div class="col-md-6">
        <h2>Customers</h2>
        <p><a class="btn btn-default" href="/customer/customers">Customers</a></p>
    </div>
   
</div>
